Well well well. You are here. At my first solo project created by myself from scratch. This will have some... playful aspects (hopefully) and I guess a little insight of my inner thoughts. No filters. This is me. Enjoy :-)

# The Great Beginning

## Somaan's Personal Expense Dashboard

This notebook houses all the code cells needed to load or create views of provided csv files for planned and actual spend.
If it works as expected, we shall get some colourful pie charts depicting the spends of each planned and actual spends with categories as well as a third showing the difference. That third one will need extra thought to think about whether a pie chart is the best way to show that. Maybe a two-way bar chart. All in the journey of a new data scientist!

### Setup
Run the code cell below to set up the notebook

In [ ]:
import pandas as pd
import numpy as np

## Remaining Steps.

The rest of the steps will take place in the following order.

- Step 2: Load csv files

- Step 3: Analyze Your Spending

- Step 4: Visualize Spending

- Step 5: Optional Improvements

### Step 2: Load csv files

The csv files in the github repository are named 'planned_spend_march.csv' and 'actual_spend_march.csv'. Both of these files will be loaded. 
It is good practice to check both files once loaded to see if the column headers match and you can make sense of them.

In [2]:
planned_spend = pd.read_csv('planned_spend_march.csv')
actual_spend = pd.read_csv('actual_spend_march.csv')

# Display the first few rows of each DataFrame to check the structure and headers
print("Planned Spend DataFrame:")
print(planned_spend.head())

print("\nActual Spend DataFrame:")
print(actual_spend.head())

Planned Spend DataFrame:
      item_name  amount_GBP item_category       item_group
0          rent      1300.0  Fundamentals  Living Expenses
1           tfl        17.6  Fundamentals           Travel
2  Lunch @ work         8.8  Fundamentals  Living Expenses
3    Phone Bill        20.0  Fundamentals  Living Expenses
4      Coursera        38.0       Future         Education

Actual Spend DataFrame:
      item_name  amount_GBP item_category       item_group
0          rent      1300.0  Fundamentals  Living Expenses
1           tfl         0.0  Fundamentals           Travel
2  Lunch @ work         0.0  Fundamentals  Living Expenses
3    Phone Bill        20.0  Fundamentals  Living Expenses
4      Coursera        38.0       Future         Education

### Playground
Feel free to use the code cell below to play around with the dataframes. Do what you want. Go crazy!!!! ;-P

In [ ]:
grouped_planned_spend = planned_spend.groupby('item_category')
grouped_planned_spend.describe()

              amount_GBP                                                \
                   count        mean         std    min     25%    50%
item_category
Fun                  3.0   22.990000   32.055578   3.98   4.485   4.99
Fundamentals         7.0  251.628571  477.317790   8.80  16.300  20.00
Future               5.0  103.044000  144.039056  25.00  37.220  38.00
Miscellaneous        2.0   75.000000   35.355339  50.00  62.500  75.00


                   75%     max
item_category
Fun             32.495    60.0
Fundamentals   200.000  1300.0
Future          55.000   360.0
Miscellaneous   87.500   100.0

In [7]:
grouped_actual_spend = actual_spend.groupby('item_category')
grouped_actual_spend.describe()

              amount_GBP                                                  \
                   count        mean         std    min      25%     50%
item_category
Fun                  4.0   43.907500   65.242827   3.98   4.7375  15.540
Fundamentals         7.0  270.515714  487.995770   0.00   7.5000  20.000
Future               5.0   68.322000   41.918235  25.00  38.0000  53.610
Miscellaneous        2.0   53.065000    4.334565  50.00  51.5325  53.065


                    75%      max
item_category
Fun             54.7100   140.57
Fundamentals   279.3050  1300.00
Future         105.0000   120.00
Miscellaneous   54.5975    56.13